.product{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
   
   
   
}
.btnLink{
    border: none;
    border-radius: 7px;
}
.btLink{
    text-decoration: none;

}

.singleProduct:hover{
    box-shadow: 0 .2rem 1rem rgb(190, 189, 189);
    border-radius: 10px;
    transition: 0.2s;
    }